<!-- <div ng-controller="ProductboardCtrl as customerdashboard"> -->
<div>
	<div class="col-md-4">
		<h2>Products</h2>
		<customerproduct class="callout"
               ng-repeat="product in customerdashboard.products"
               ng-click="customerdashboard.setCurrentProduct(product)">
        </customerproduct>
		<br/>
		<a class="btn btn-primary" ng-click="customerdashboard.resetForm()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
	</div>
	<div class="col-md-6 content">
		<h2>Product</h2>
		<button class="btn pull-right btn-default" ng-hide="!customerdashboard.currentProduct" ng-click="customerdashboard.deleteProduct()" >Delete</button><br><br>
		<div ng-hide="!customerdashboard.currentProduct">
			<div class="form-group">
				<label class="control-label" for="inputTitle">Title</label>
				<div class="controls">
					{{ customerdashboard.editedProduct.title }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label" for="inputType">Type</label>
				<div class="controls">
					{{ customerdashboard.currentType.name }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					{{ customerdashboard.editedProduct.description }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="inputTitle">Price</label>
				<div class="controls">
					{{ customerdashboard.editedProduct.price }}
				</div>
			</div>
		</div>

		<div ng-if="customerdashboard.currentProduct">
            <button class="btn btn-default" ng-click="customerdashboard.updateCancel()">
                Cancel
            </button>
            <button class="btn pull-right btn-default"
                    ng-disabled="customerdashboard.detailsForm.$invalid"
                    ng-click="customerdashboard.updateProduct()">Update</button>
        </div>
        <div ng-if="!customerdashboard.currentProduct">
            <button class="btn pull-right btn-default"
                    ng-disabled="customerdashboard.detailsForm.$invalid"
                    ng-click="customerdashboard.createProduct()">New customerdashboard</button>
        </div>
	</div>
</div>